
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f1f6fc31;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* Efeito Paralax */
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
section, footer{
    padding: 54px 0;
}

h3{
    font-size: 50px
}

p{
    color: #0000009C;
  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: white;
    text-transform: uppercase;
    margin: 0 25px;
    font-size: 14px;
    display: block;
}
nav ul a:not(.btn):after{
    content: "";
    background-color: #4f9cf9;;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}
.btn{
    background-color: #4f9cf9;
    color:white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    animation: animate-outline 1s ease-out infinite;
    
    
}
.btn:hover{
background-color: #3580db;
}
@keyframes animate-outline{
    from{
        outline: 0px solid#4f9bf980;
    }
    to{
        outline: 15px solid#4f9bf900;
    }
}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 96px;
    color: #fff;
}
.banner .banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin:18px 0;
}

/*Faça-mais e SObre*/
.faca-mais .container, .sobre .container{
    display: flex;
    align-items: center;
}

.faca-mais .faca-mais-text, .sobre .sobre-text{
    width: 50%;
    padding: 0 40px;
}
.faca-mais .faca-mais-text h3, .sobre .sobre-text h3{
 font-size: 40px;
}
.faca-mais .faca-mais-text p, .sobre .sobre-text p{
    font-size: 12px;
    margin: 5px 0 10px 0;
    
}

.faca-mais .faca-mais-img, .sobre .sobre-img{
 width: 50%;
}
.faca-mais .faca-mais-img img, .sobre .sobre-img img{
    width: 100%;
   }
   .sobre .sobre-text p{
    text-align: justify;
   }
   .sobre .sobre-img img{
     border-radius: 15px;
   }

   /*Depoimento Cards e Servicos*/

   .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   }

   .depoimento .container, .Servicos .container{
    text-align: center;
   }

   .depoimento p{
    margin-bottom: 20px;
   }
   .depoimento .card-item{
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 250px;
    padding: 10px;
    transition: 0.3s;
   } 
   .depoimento .card-item img{
    width: 80px;
    border-radius: 100%;
    border: 2px solid #fff;
    display: block;
    margin: 10px auto;
    
   }

   .depoimento .card-item .nome-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
   }
   .depoimento .card-item .star{
    margin: 15px 0;
    border-top: 2px solid #71767a23;
    transition: 0.3s;
}

.depoimento .card-item .star i{
 color: #4f9cf9;
 margin-top: 15px;
 font-size: 20px;
}
.depoimento .card-item:hover{
    background-color: #3580db;
    margin-top: -5px;
}

.depoimento .card-item:hover .nome-user, .depoimento .card-item:hover p, .depoimento .card-item:hover .fa{
    color: #fff;
   
} 
/*Clientes*/

.clientes h3, .clientes p{
text-align: center;
}

.clientes .empresas{
    display: flex;
    align-items: center;
    justify-content: space-around;
  flex-wrap: wrap;
}
.rodape{
    background-color: #3580db;
    text-align: center;
}  
.rodape .container{
    align-items: center;
}

.rodape .container i{
    font-size: 40px;
    color: #fff;
    margin: 5px;
  
}
.rodape .container p{
    color: #fff;
    margin-top: 10px;
}

/*menu-icon*/

.menu-icon{
    font-size: 25px;
    color:#fff;
    display: none;
}
.close-icon{
    display: none;
    font-size: 40px;
    color: white;
}

/*Serviços*/
.Servicos .row-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    
}
.Servicos .row-card-item{
    text-align: justify;
    background-color: #84b7f5;
    width: 350px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
  
}

.Servicos .row-card-item img{
    background-color: #4f9cf9;
    border-radius: 15px;
    width: 70px;
    padding: 9px;
    margin: 15px;
}
.Servicos .row-card-item p{
    margin: 5px 0;
    transition: 0.3s;

}

.Servicos .row-card-item:hover{
    background-color: #4f9cf9;
}

.Servicos .row-card-item:hover p{
    color: white;
}

/*DADOS*/

.dados .container{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:#84b7f5;
    padding: 60px;
    flex-wrap: wrap;
    
}

.dados .item-dados{
    margin: 20px;
}
.dados .item-dados img{
    background-color: #4f9cf9;
    border-radius: 15px;
    width: 80px;
    padding: 10px;
    margin-bottom: 15px;
}
.dados .item-dados p{
    font-size: 18px;
}

.dados .item-dados p strong{
    font-size: 28px;
}.mapa-info .left-info{
    width: 50%;
    padding: 38px;
    background-color: #4f9cf9;
  }

/* Pag Contactos*/

.mapa{
    margin: 20px 0;
}

.mapa-info{
    display: flex;
    justify-content: space-between;

}

.mapa-info .left-info{
    display: block;
  width: 50%;
  padding: 30px;
  border-radius: 15px;
  margin-right: 50px;
  height: fit-content;

  
}
.mapa-info .left-info div{
    display: flex;
    align-items: center;
    margin: 10px;
    
}
.mapa-info .left-info div i{
    font-size: 24px;
    margin-right: 20px;
    color: white;
}
.mapa-info .left-info div p{
    font-size: 17px;
    color: white;
}
.mapa-info .right-info{
    display: block;
    width: 50%;
  
}
.mapa-info .right-info input{
    display: block;
    outline: none;
    border: 0px;
    padding: 10px;
}
textarea{
    width: 100%;
    padding: 15px; 
    border-radius: 15px;
    resize: none;
}
.mapa-info .right-info input:focus, textarea:focus{
    border: 1px solid #4f9cf9;
}
.mapa-info .right-info input:not(.btn){
    content: "";
    width: 100%;
    background-color: #5556572c;
    border-radius: 15px;
    margin-bottom: 15px;
  
}
input[type="submit"]{
   margin: 20px 0;
   width: 200px;
   font-size: 18px;

}


@media screen and (max-width:830px){
    .menu-icon{
        display: block;
    }

      .close-icon{
        display: block;
        position: absolute;
        top: 45px;
        right: 28px;
    }
    .ul{
        background-color: #184b88;
        position: fixed;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }

    .ul.open{
        clip-path: circle(140.9% at 100% 0);
    }

    .ul a{
        margin: 10px 0;
        font-size: 16px;
    }
/*Faça mais*/
.faca-mais .container, .sobre .container, .mapa-info{
    flex-direction: column;
    
}
.faca-mais .faca-mais-text, .sobre .sobre-text, .mapa-info .left-info, .mapa-info .right-info{
    width: 100%;
    padding: 20px 60px;
    
}
.faca-mais .faca-mais-text h3, .sobre .sobre-text h3,.depoimento h3, .clientes h3, .Servicos h3{
    font-size: 30px;
    
}
.faca-mais .faca-mais-img, .sobre .sobre-img{
    width: 100%;
 }
.faca-mais .faca-mais-img img, .sobre .sobre-img img{
       width: 100%;
}
.banner .banner-text h1, h3{
    font-size: 60px;
  }

  .banner .banner-text p{
    font-size: 16px;
  }

  .cards .card-item{
    width: 80%;
  }
  .sobre .sobre-img{
    margin-top: 20px;
  }
}
